@page "/"

@using LtBookingSite.Models.ViewModels
@using LtBookingSite.Data
@inject IEventHelper eventHelper

    <h1>Lorien Trust Sanctioned Event Booking</h1>

    <ul class="event-list">
        @foreach(var eventLink in EventLinks)
        {
            <li><a href="@eventLink.EventLink" target="_blank"><b>@eventLink.EventName:</b> @eventLink.DisplayDate</a></li>
        }
    </ul>

@code {
    private IEnumerable<EventLinkViewModel> EventLinks { get; set; }

    protected override Task OnInitializedAsync()
    {
        EventLinks = eventHelper.GetEventLinks();

        return base.OnInitializedAsync();
    }
}
