@page "/PlayerDetails"

<AuthorizeView>
    <Authorized>
        <h1>You are logged in</h1>
    </Authorized>
    <NotAuthorized>
        <h1>You are not logged in</h1>
    </NotAuthorized>
</AuthorizeView>

@code {



}
