@page "/PlayerDetails"
@attribute [Authorize]

@using LtBookingSite.Models
@using LtBookingSite.Data
@inject ApplicationDbContext dbContext
@inject AuthenticationStateProvider authenticationStateProvider

<h1>Player Details</h1>

<EditForm Model=@PlayerDetailsViewModel OnValidSubmit="@HandleValidSubmit">
    <div class="form-group row">
        <label for="FirstName" class="col-md-2">First Name</label>
        <InputText id="FirstName" @bind-Value="PlayerDetailsViewModel.FirstName" class="form-control col-md-4">@PlayerDetailsViewModel.FirstName</InputText>
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private PlayerDetailsViewModel PlayerDetailsViewModel { get; set; }

    protected override Task OnInitializedAsync()
    {
        var user = authenticationStateProvider.GetAuthenticationStateAsync().Result.User;
        var email = user.Identity.Name;

        var player = dbContext.Players.Find(email);

        if(player == null)
        {
            PlayerDetailsViewModel = new PlayerDetailsViewModel();
        }
        else
        {
            PlayerDetailsViewModel = new PlayerDetailsViewModel
            {
                FirstName = player.FirstName
            };
        }

        return base.OnInitializedAsync();
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine(PlayerDetailsViewModel.FirstName);
    }
}
