.body-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.player-details-form {
    margin: 25px;
}

.submit-message {
    margin-top: 25px;
}

.show-submit-message {
    visibility: visible;
}

.hide-submit-message {
    visibility: hidden;
}

.event-list {
    list-style: none;
    margin-top: 25px;
}
